body {
    background-attachment: fixed;
    background-image: url("../image/book_main.jpg");
    background-size: cover;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    margin: 0;
}

header {
    text-shadow: 5px 5px 5px #dbac78;    
}

nav {
    background-color: #c13334;
    font-weight: bold;
    text-align: center;
}

nav.main {
    font-size: 20px;
    padding: 5px;
    width: 100%;
}

nav.sign {
    float: right;
}

a {
    text-decoration: none;
    text-transform: capitalize;
}

a.white {
    color: #ffffff;
}

a.black {
    color: #000000;
}

a.color {
    color: #c13334;
}

a.color:hover {
    text-shadow: 5px 5px 5px #dbac78;    
}

a.black:hover {
    color: #c13334;
}

nav.main > ol {
    display: inline-block;
    height: 35px;
    line-height: 200%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav.sign > ol {
    display: inline-block;
    height: 27px;
    line-height: 200%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav.main > ol > li {
    border-right: 1px dashed #ffffff;
    float: left;
    height: 40px;
    text-align: center;
    width: 150px;    
}

nav.sign > ol > li {
    border-right: 1px dashed #ffffff;
    float: left;
    height: 30px;
    width: 100px;
}

ol > li:first-child {
    border-left: 1px dashed #ffffff;
}

ol > li:hover {
    background-color: #dbac78;
}

ol > li:hover > a {
    color: #c13334;
}

ol > li > ul {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ol > li:hover > ul {
    display: block;
    font-size: 15px;
}

ol > li > ul > li {
    background-color: #dbac78;
    border-top: 1px dashed #ffffff;
    position: relative;
    z-index: 100;
}

ol > li > ul > li:hover {
    background-color: #c13334;
}

#container_main {
    background-color: #ffffff;
    box-shadow: 3px 3px 30px 5px #000000;
    margin: auto;
    margin-top: 50px;    
    opacity: 0.93;
    width: 60%;
}