.modal {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);    display: none;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.modal:target {
    display: table;
    position: absolute;
}

.modal-dialog {
   display: table-cell;
   vertical-align: middle; 
}

.modal-content {
    margin: auto;
    width: 53%;
    /* Add animation */
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.5s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 0.5s;
}

.modal_container {
    background-image: linear-gradient(#c13334, #dbac78, #ffffff, #ffffff);
}

.closebtn {
    color: #ffffff;
    float: right;
    font-size: 30px;
    font-weight: bold;
    margin-right: 10px;
    padding: 5px;
    text-shadow: 5px 5px 5px #000000;
}

.closebtn:hover {
    color: #000000;
}

/* Add animation (Chrome, Safari, Opera) */
@-webkit-keyframes example {
  from {top:-100px;opacity: 0;}
  to {top:0px;opacity:1;}
}

/* Add animation (Standard syntax) */
@keyframes example {
  from {top:-100px;opacity: 0;}
  to {top:0px;opacity:1;}
}