.ui-helper-hidden-accessible{
    display: none;
}

ul.ui-menu{
    background-color: #ffffff;
    border: 2px solid #c13334;
    border-radius: 5px;
    border-top: none;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 300px;
}

ul.ui-autocomplete{
    width: 255px;
}

.ui-menu:hover{
    box-shadow: 0px 0px 10px 0px #000;
}

ul.ui-autocomplete li:hover {
    background-color: #c13334;
    color: #ffffff;
    cursor: default;
}

.ui-menu-item{
    border-bottom: 1px solid #777;
    color: #c13334;
    font-weight: bold;
    list-style: none;
    margin: 0;
    padding: 10px;
    text-align: center;
    text-transform: capitalize;
}